name: Generate Docs from GDS/YAML

on:
  push:
    branches:
      - tidy-folders # I'll change this later - I don't want to run the workflow now.

jobs:
  generate-docs:
    if: github.actor != 'github-actions'  # prevents feedback loop - but also prevents nested Actions. useful for now but will need revision
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout code with PAT
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GHA_PAT_TEST }}
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install uv
        run: pip install uv
      
      
      - name: Create venv
        run: uv venv .venv


      - name: Install dependencies
        run: .venv/bin/uv pip install .[docs,validator]

      
      - name: Check installed packages
        run: .venv/bin/pip list

      
      - name: Run documentation generator
        run: .venv/bin/python .github/scripts/generate-plots.py
      
      - name: Check Git remote
        run: git remote -v
        

      - name: Push changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add docs/
          git commit -m "Auto-generated documentation" || echo "No changes to commit"
          git push
